<div class="container">
    <h2>Work</h2>
    
    <div class="row">
        <% @projects.each do |project| %>
        <div class="col-md-4 mb-4">
            <div class="card">
                <h5 class="card-title"><%= project.title %></h5>
                <p class="card-text"><%= project.description %></p>
                <p class="card-text">Technologies used: <%= project.technologies %></p>
            </div>
        </div>
        <% end %>
    </div>
</div>